<mat-toolbar class="toolbar">
  <mat-toolbar-row>
    <span>Dashboard</span>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container">
  <h4 class="heading">Categories</h4>
  <mat-form-field>
    <mat-label>Choose a category</mat-label>
    <mat-select [(ngModel)]="selectedValue" name="category">
      <mat-option *ngFor="let category of categories" [value]="category.value">
        {{ category.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <p>Selected category: {{ selectedValue }}</p>
  <div>
    <button mat-raised-button (click)="createQuestion()">
      Create a Questionnaire
    </button>
  </div>
  <template #questionsContainer></template>
</div>
